[pull]
	rebase = true
[user]
	name = Eric Duncan
	email = eduncan911+github@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
