[pull]
	rebase = true
[user]
	name = Eric Duncan
	email = me@eduncan911.com
	signingkey = D475E1448666E626
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[core]
	excludesfile = /Users/eric/.gitignore
[alias]
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
