[pull]
	rebase = true
[user]
	name = Eric Duncan
	email = me@eduncan911.com
	signingkey = B37A3ECED23E2ABE
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	gpgsign = false
[gpg]
	program = gpg
[core]
	excludesfile = /Users/eric/.gitignore
	editor = nvim
[alias]
    squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
    cleanup = "!git branch --merged | grep -v '\\*\\|master|develop|dev' | xargs -n 1 git branch -d"
    sshow = "!f() { git stash show stash^{/$*} -p; }; f"
    sapply = "!f() { git stash apply stash^{/$*}; }; f"
    new = checkout -b
